In [1]:
import pandas as pd

In [3]:
df = pd.read_excel('./results_mean.xlsx')
instances = pd.read_csv('./instances_all.txt', sep=' ', header=None)

C:\Users\Risto\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: FutureWarning: Your version of xlrd is 1.2.0. In xlrd >= 2.0, only the xls format is supported. As a result, the openpyxl engine will be used if it is installed and the engine argument is not specified. Install openpyxl instead.
  """Entry point for launching an IPython kernel.

In [4]:
df

,cluster,best_algorithms
0,"['2/12800', '50/12800']","['NaiveTBPSA', 'CMandAS2', 'NGOpt12H', 'ECMA',..."
1,"['10/12800', '10/200', '10/3200', '10/800']","['NGOpt12H', 'ChainMetaModelSQP', 'NGOptM12', ..."
2,"['10/50', '50/200', '50/3200', '50/50', '50/800']","['Cobyla', 'NGOptM12', 'NGOpt12H', 'Wombat', '..."
3,"['2/200', '2/3200', '2/50', '2/800']","['NGO', 'Cobyla', 'MetaModel', 'NGOpt10', 'NGO..."

In [5]:
clusters = df.iloc[:,0]

In [6]:
extract_dict = {}
for i, cluster_str in enumerate(clusters):
    cluster_str = cluster_str.replace('[', '').replace(']', '').replace(' ', '').replace('\'', '')
    print(cluster_str)
    cluster_strs = cluster_str.split(',')
    for cluster_str in cluster_strs:
        cluster_split = cluster_str.split('/')
        dimension = cluster_split[0]
        budget = cluster_split[1]
        if i in extract_dict:
            cluster_array = extract_dict.get(i)
            cluster_array.append((dimension, budget))
            extract_dict[i] = cluster_array
        else:
            extract_dict[i] = [(dimension, budget)]

2/12800,50/12800
10/12800,10/200,10/3200,10/800
10/50,50/200,50/3200,50/50,50/800
2/200,2/3200,2/50,2/800

In [7]:
extract_dict

{0: [('2', '12800'), ('50', '12800')],
 1: [('10', '12800'), ('10', '200'), ('10', '3200'), ('10', '800')],
 2: [('10', '50'), ('50', '200'), ('50', '3200'), ('50', '50'), ('50', '800')],
 3: [('2', '200'), ('2', '3200'), ('2', '50'), ('2', '800')]}

In [8]:
instances.columns = ['benchmark', 'function', 'rotation', 'dimension', 'budget']

In [9]:
instances

,benchmark,function,rotation,dimension,budget
0,yabbob,--name=hm,--rotation=True,--d=2,--budget=50
1,yabbob,--name=hm,--rotation=True,--d=2,--budget=200
2,yabbob,--name=hm,--rotation=True,--d=2,--budget=800
3,yabbob,--name=hm,--rotation=True,--d=2,--budget=3200
4,yabbob,--name=hm,--rotation=True,--d=2,--budget=12800
...,...,...,...,...,...
2107,yahdbbob,--name=deceptivepath,--rotation=False,--d=3000,--budget=50
2108,yahdbbob,--name=deceptivepath,--rotation=False,--d=3000,--budget=200
2109,yahdbbob,--name=deceptivepath,--rotation=False,--d=3000,--budget=800
2110,yahdbbob,--name=deceptivepath,--rotation=False,--d=3000,--budget=3200
2111,yahdbbob,--name=deceptivepath,--rotation=False,--d=3000,--budget=12800

In [11]:
dimension = 2
budget = 50
instances_req = instances[(instances['dimension'] == f'--d={dimension}') & (instances['budget'] == f'--budget={budget}')]

In [12]:
for i, cluster_array in enumerate(extract_dict.values()):
    functions = []
    filename = f'instances_{i}.txt'
    for dimension, budget in cluster_array:
        instances_required = instances[(instances['dimension'] == f'--d={dimension}') & (instances['budget'] == f'--budget={budget}')]
        with open(filename, 'a') as f:
            for j, row in instances_required.iterrows():
                f.write(f'{row["benchmark"]} {row["function"]} {row["rotation"]} {row["dimension"]} {row["budget"]}\n')